<h3>List USER</h3>

<%= link_to 'NEW', new_user_path, :class => 'btn btn-primary' %>

<table class="table">
  <thead>
  <tr>
    <td>User ID</td>
    <td>Token</td>
    <td>Created At</td>
  </tr>
  </thead>
  <tbody>
  <% @list.each do |item| %>
  <tr>
    <td><%= item.resource_owner_id %></td>
    <td><%= item.token %></td>
    <td><%= item.created_at %></td>
  </tr>
  <% end %>
  </tbody>
</table>